interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/people/maryheatherb/needles/list.json
  response:
    body:
      string: "{\"needle_records\": [{\"comment\":\"Bryspun Flex\",\"id\":123480,\"needle_type_id\":4,\"needle_type\":{\"id\":4,\"length\":10,\"needle_size_id\":4,\"description\":\"US
        4 (3.5mm) 10\\\" st\",\"name\":\"4 \",\"metric_name\":\"3.5\",\"type_name\":\"straight\"}},{\"comment\":\"Clover
        Bamboo\",\"id\":123481,\"needle_type_id\":6,\"needle_type\":{\"id\":6,\"length\":10,\"needle_size_id\":6,\"description\":\"US
        6 (4mm) 10\\\" st\",\"name\":\"6 \",\"metric_name\":\"4\",\"type_name\":\"straight\"}},{\"comment\":\"Clover
        Bamboo 7\\\"\",\"id\":123363,\"needle_type_id\":45,\"needle_type\":{\"id\":45,\"length\":4,\"needle_size_id\":1,\"description\":\"US
        1 (2.25mm) sock dp\",\"name\":\"1 \",\"metric_name\":\"2.25\",\[...]
