interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/needles/sizes.json
  response:
    body:
      string: '{"needle_sizes": [{"hook":null,"id":43,"metric":0.5,"us":"8/0"},{"hook":null,"id":25,"metric":0.6,"us":null},{"hook":null,"id":26,"metric":0.7,"us":null},{"hook":null,"id":42,"metric":0.75,"us":"6/0"},{"hook":null,"id":27,"metric":0.75,"us":null},{"hook":null,"id":28,"metric":0.85,"us":null},{"hook":null,"id":29,"metric":0.9,"us":null},{"hook":null,"id":41,"metric":1.0,"us":"5/0"},{"hook":null,"id":30,"metric":1.0,"us":null},{"hook":null,"id":31,"metric":1.05,"us":null},{"hook":null,"id":47,"metric":1.1,"us":null},{"hook":null,"id":32,"metric":1.1,"us[...]
