interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/needles/types.json
  response:
    body:
      string: "{\"needle_types\": [{\"id\":1,\"length\":10,\"needle_size_id\":1,\"description\":\"US
        1 (2.25mm) 10\\\" st\",\"name\":\"1 \",\"metric_name\":\"2.25\",\"type_name\":\"straight\"},{\"id\":2,\"length\":10,\"needle_size_id\":2,\"description\":\"US
        2 (2.75mm) 10\\\" st\",\"name\":\"2 \",\"metric_name\":\"2.75\",\"type_name\":\"straight\"},{\"id\":3,\"length\":10,\"needle_size_id\":3,\"description\":\"US
        3 (3.25mm) 10\\\" st\",\"name\":\"3 \",\"metric_name\":\"3.25\",\"type_name\":\"straight\"},{\"id\":4,\"length\":10,\"needle_size_id\":4,\"description\":\"US
        4 (3.5mm) 10\\\" st\",\"name\":\"4 \",\"metric_name\":\"3.5\",\"type_name\":\"st[...]
