interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/yarns/100/comments.json
  response:
    body:
      string: "{\"comments\": [{\"created_at\":\"2007/09/13 15:19:34 -0400\",\"id\":25719,\"comment_html\":\"\\n<p>I
        don\u2019t love knitting with this yarn, but it may make the most comfortable,
        hard-wearing socks I\u2019ve made yet.</p>\\n\",\"replies\":[],\"highlighted_project\":null,\"user\":{\"id\":2930,\"username\":\"regp03\",\"tiny_photo_url\":\"https://avatars-d.ravelrycache.com/regp03/75652898/100_1838_tiny.JPG\",\"small_photo_url\":\"https://avatars-d.ravelrycache.com/regp03/75652898/100_1838_small.JPG\",\"photo_url\":\"https://avatars-d.ravelrycache.com/regp03/75652898/100_1838_large.JPG\",\"profile_country_code\":\"US\"}},{\"created_at\":\"2007/10/07
        03:27:25 -0400\",\"id\":36399,\"comment_html\":\"\\n<p>I found this yarn very
        pleasingly smooth and thick to knit with.</p>\\n\\n<p>It is wearing very well
        with no felting, no wear spots and no colour loss or bleeding whatsoever.
        Very good quality yarn.</p>\\n\",\"replies\":[],\"highlighted_project\":null,\"user\":{\"id\":1322,\"username\":\"fraxknits\",\"tiny_photo_url\":\"https://avatars-d.ravelrycache.com/fraxknits/23732/fr[...]
