interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/yarns/search.json?query=merino&personal_attributes=0
  response:
    body:
      string: "{\"yarns\": [{\"discontinued\":false,\"gauge_divisor\":4,\"grams\":100,\"id\":18689,\"machine_washable\":null,\"max_gauge\":null,\"min_gauge\":22.0,\"name\":\"Merino
        8ply\",\"permalink\":\"majestic-merino-merino-8ply\",\"rating_average\":4.56,\"rating_count\":9,\"rating_total\":41,\"texture\":\"cable
        plied\",\"thread_size\":null,\"wpi\":null,\"yardage\":181,\"yarn_company_name\":\"Majestic
        Merino\",\"first_photo\":{\"id\":2302711,\"sort_order\":1,\"user_id\":77272,\"x_offset\":0,\"y_offset\":0,\"square_url\":\"https://images4-g.ravelrycache.com/uploads/furrywithruffles/581756223/2304346316_5114380175_z_square.jpg\",\"medium_url\":\"https://images4-f.ravelrycache.com/uploads/furrywithruffles/581756223/2304346316_5114380175_z_medium.jpg\",\"thumbnail_url\":\"https://images4-g.ravelrycache.com/uploads/furrywithruffles/581756223/2304346316_5114380175_z_thumbnail.jpg\",\"small_url\":\"https://images4-g.ravelrycache.com/uploads/furrywithruffles/581756223/2304346316_5114380175_z_small.jpg\",\"medium2_url\":\"https://images4-a.ravelrycache.com/uploads/furrywithruffles/581756223/2304346316_5114380175_z_medium2.jpg\",\"small2_url\":\"https://images4-g.ravelrycache.com/uploads/furrywithruffles/581756223/2304346316_5114380175_z_small2.jpg\",\"caption\":null,\"caption_html\":null,\"copyright_holder\":null,\"aspect_ratio\":1.3333333333333333},\"personal_attributes\":null,\"yarn_weight\":{\"crochet_gauge\":null,\"id\":11,\"knit_gauge\":\"22\",\"max_gauge\":null,\"min_gauge\":null,\"name\":\"DK\",\"ply\":\"8\",\"wpi\":\"11\"}},{\"discontinued\":true,\"gauge_divisor\":null,\"grams\":100,\"id\":12484,\"machine_washable\":null,\"max_gauge\":null,\"min_gauge\":null,\"name\":\"Merino
        ullgarn 1-tr\xE5ds\",\"permalink\":\"leine-merino-merino-ullgarn-1-trads\",\"rating_average\":4.0,\"rating_count\":10,\"rating_total\":40,\"texture\":\"singles\",\"thread_size\":null,\"wpi\":null,\"yardage\":766,\"yarn_company_name\":\"Leine
        Merino\",\"first_photo\":{\"id\":184012,\"sort_order\":1,\"user_[...]
