interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: POST
    uri: https://api.ravelry.com/comments/create.json?type=project&commented_id=12489643&body=This+is+a+reply+comment&reply_to_id=1
  response:
    body:
      string: '{"comment": {"created_at":"2026/01/24 15:36:00 -0500","id":12489656,"comment_html":"\n<p>This
        is a reply comment</p>\n","replies":[],"highlighted_project":null,"user":{"id":13988848,"username":"cltheuer","tiny_photo_url":null,"small_photo_url":null,"photo_url":null,"profile_country_code":null}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ab5d7186f87425da94069416758a7866"
      Status:
      - 200 OK
      X-API:
      - '1'
      X-Handled-By:
      - baa
      X-Ruby:
      - '2'
      X-Up-Location:
      - https://api.ravelry.com/comments/create.json?type=project&commented_id=12489643&body=This+is+a+reply+comment&reply_to_id=1
      X-Up-Method:
      - post
    status:
      code: 200
      message: OK
version: 1
