interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/fiber_categories.json
  response:
    body:
      string: "{\"fiber_categories\": [{\"id\":173,\"name\":\"Angora\",\"permalink\":\"angora\",\"short_name\":\"Angora\",\"children\":[{\"id\":174,\"name\":\"English\",\"permalink\":\"english\",\"short_name\":\"English\",\"children\":[]},{\"id\":175,\"name\":\"French\",\"permalink\":\"french\",\"short_name\":\"French\",\"children\":[]},{\"id\":176,\"name\":\"German\",\"permalink\":\"german\",\"short_name\":\"German\",\"children\":[]},{\"id\":177,\"name\":\"Giant\",\"permalink\":\"giant\",\"short_name\":\"Giant\",\"children\":[]},{\"id\":178,\"name\":\"Satin\",\"permalink\":\"satin\",\"short_name\":\"Satin\",\"children\":[]}]},[...]
