interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/yarn_companies//search.json?query=Lion&page=1&page_size=10&sort=best_
  response:
    body:
      string: '{"yarn_companies": [{"id":99,"name":"Lion Brand","permalink":"lion-brand","url":"http://www.lionbrand.com","yarns_count":489},{"id":28146,"name":"Lion
        Color","permalink":"lion-color","url":"","yarns_count":1},{"id":16901,"name":"The
        Woolly Lion","permalink":"the-woolly-lion","url":null,"yarns_count":1},{"id":28157,"name":"Ferme
        du Lion Vert","permalink":"ferme-du-lion-vert","url":null,"yarns_count":1},{"id":14131,"name":"Cottage
        Folk Yarns","permalink":"cottage-folk-yarns","url":"","yarns_count":11},{"id":305,"name":"Silk
        City Fibers","permalink":"silk-city-fibers","url":"http://www.silkcityfibers.com/","yarns_count":76}],
        "paginator": {"page_count":1,"page":1,"page_size":10,"results":6,"last_page":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6e66c7cc4eeadd3f03689aaadae6d5e"
      Status:
      - 200 OK
      X-API:
      - '1'
      X-Handled-By:
      - yearling
      X-Ruby:
      - '2'
      X-Up-Location:
      - https://api.ravelry.com/yarn_companies/search.json?query=Lion&page=1&page_size=10&sort=best_
      X-Up-Method:
      - get
    status:
      code: 200
      message: OK
version: 1
