interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/search.json?query=merino&limit=10&types=Yarn
  response:
    body:
      string: '{"results": [{"title":"MerinoSeide","caption":"","type_name":"yarn","tiny_image_url":"https://images4-f.ravelrycache.com/uploads/Sidi/259628281/IMG_2445_square.JPG","image_url":"https://images4-g.ravelrycache.com/uploads/Sidi/259628281/IMG_2445_medium.JPG","record":{"type":"Yarn","id":123711,"permalink":"sidispinnt-merinoseide","uri":"/yarns/library/sidispinnt-merinoseide.json"}},{"title":"Merinosukka","caption":"","type_name":"yarn","tiny_image_url":"https://images4-g.ravelrycache.com/uploads/ellipet/896512834/7DFC8AFF-BFB1-4468-A6F3-FA94151EFB72_square.jpeg","image_url":"https://images4-g.ravelrycache.com/uploads/ellipet/896512834/7DFC8AFF-BFB1-4468-A6F3-FA94151EFB72_medium.jpeg","record":{"type":"Yarn","id":186156,"permalink":"silmukka-merinosukka","uri":"/yarns/library/silmukka-merinosukka.[...]
