interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/search.json?query=merino&limit=10&types=Yarn+Group+Event
  response:
    body:
      string: '{"results": [{"title":"Merino Masterclass","caption":null,"type_name":"group","tiny_image_url":null,"image_url":null,"record":{"type":"Group","id":15904,"permalink":"merino-masterclass","uri":"/groups/merino-masterclass.json"}},{"title":"Merino
        Feroz ","caption":null,"type_name":"group","tiny_image_url":null,"image_url":null,"record":{"type":"Group","id":37514,"permalink":"merino-feroz","uri":"/groups/merino-feroz.json"}},{"title":"Merino
        Feroz ","caption":null,"type_name":"group","tiny_image_url":"https://assets3-d.ravelrycache.com/assets/634755248/1200_LOGO_merino_TRANSPARENTE_verde_TINTA.png","image_url":"https://assets3-d.ravelrycache.co[...]
