interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/yarn_attributes/groups.json
  response:
    body:
      string: "{\"yarn_attribute_groups\": [{\"id\":8,\"name\":\"Care\",\"permalink\":\"care\",\"yarn_attributes\":[{\"created_at\":\"2016/05/27
        15:07:32 -0400\",\"description\":\"lay flat to dry\",\"id\":76,\"name\":\"Dry
        Flat\",\"permalink\":\"dry-flat\",\"sort_order\":5,\"yarn_attribute_group_id\":8},{\"created_at\":\"2016/05/27
        15:07:32 -0400\",\"description\":\"wash by hand\",\"id\":4,\"name\":\"Hand
        Wash\",\"permalink\":\"hand-wash\",\"sort_order\":4,\"yarn_attribute_group_id\":8},{\"created_at\":\"2016/05/27
        15:07:32 -0400\",\"description\":\"wash by hand in cold water\",\"id\":5,\"name\":\"Hand
        Wash Cold\",\"permalink\":\"hand-wash-cold\",\"sort_order\":5,\"yarn_attribute_group_id\":8},{\"created_at\":\"2016/05/27
        15:07:31 -0400\",\"description\":\"yarn may be dried in a drying machine\",\"id\":3,\"name\":\"Machine
        Dry\",\"permalink\":\"machine-dry\",\"sort_order\":3,\"yarn_attribute_group_id\":8},{\"created_at\":\"2016/05/27
        15:07:31 -0400\",\"description\":\"yarn may be washed in a washing machine\",\"id\":2,\"name\":\"Machine
        Wash\",\"permalink\":\"machine-wash\",\"sort_order\":2,\"yarn_attribute_group_id\":8},{\"created_at\":\"2016/05/27
        15:07:31 -0400\",\"description\":\"yarn has been treated and may be washed
        in a washing machine\",\"id\":1,\"name\":\"Superwash\",\"permalink\":\"superwash\",\"sort_order\":1,\"yarn_attribute_group_id\":8}],\"children\":[]},{\"id\":12,\"name\":\"Color\",\"permalink\":\"color\",\"yarn_attributes\":[{\"created_at\":\"2016/05/27
        15:07:33 -0400\",\"description\":\"two or more contrasting singles plied together\",\"id\":19,\"name\":\"Barber
        pole\",\"permalink\":\"barber-pole\",\"sort_order\":1,\"yarn_attribute_group_id\":12},{\"created_at\":\"2016/05/27
        15:07:33 -0400\",\"description\":\"dyed in long color sections that gradually
        blend into each other\",\"id\":20,\"name\":\"Gradient\"[...]
