interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/current_user.json
  response:
    body:
      string: '{"user": {"id":13988848,"username":"cltheuer","tiny_photo_url":null,"small_photo_url":null,"photo_url":null,"large_photo_url":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"aab0f43b1e9e0cf2dd36eb5c1d0dd70c"
      Status:
      - 200 OK
      X-API:
      - '1'
      X-Handled-By:
      - baa
      X-Ruby:
      - '2'
      X-Up-Location:
      - https://api.ravelry.com/current_user.json
      X-Up-Method:
      - get
    status:
      code: 200
      message: OK
version: 1
