interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/color_families.json
  response:
    body:
      string: '{"color_families": [{"color":null,"id":1,"name":"Yellow","permalink":"Yellow","spectrum_order":1},{"color":null,"id":2,"name":"Yellow-orange","permalink":"Yellow-orange","spectrum_order":2},{"color":null,"id":3,"name":"Orange","permalink":"Orange","spectrum_order":3},{"color":null,"id":4,"name":"Red-orange","permalink":"Red-orange","spectrum_order":4},{"color":null,"id":5,"name":"Red","permalink":"Red","spectrum_order":5},{"color":null,"id":6,"name":"Red-purple","permalink":"Red-purple","spectrum_order":0},{"color":null,"id":7,"name":"Purple","permalink":"Purple","spectrum_order":8},{"col[...]
