interactions:
- request:
    body: '{"fave_colors":"Blue"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Basic <REDACTED>
    method: POST
    uri: https://api.ravelry.com/people/cltheuer.json
  response:
    body:
      string: '{"user": {"fave_colors":"Blue","fave_curse":null,"first_name":null,"id":13988848,"location":"","username":"cltheuer","tiny_photo_url":null,"small_photo_url":null,"photo_url":null,"large_photo_url":null,"about_me":null,"about_me_html":null,"profile_country_code":null,"user_sites":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"9f319dd33b7dce6caf42c5d325685ae5"
      Status:
      - 200 OK
      X-API:
      - '1'
      X-Handled-By:
      - ewe
      X-Ruby:
      - '2'
      X-Up-Location:
      - https://api.ravelry.com/people/cltheuer.json
      X-Up-Method:
      - post
    status:
      code: 200
      message: OK
- request:
    body: '{"fave_colors":"Red"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Basic <REDACTED>
    method: POST
    uri: https://api.ravelry.com/people/cltheuer.json
  response:
    body:
      string: '{"user": {"fave_colors":"Red","fave_curse":null,"first_name":null,"id":13988848,"location":"","username":"cltheuer","tiny_photo_url":null,"small_photo_url":null,"photo_url":null,"large_photo_url":null,"about_me":null,"about_me_html":null,"profile_country_code":null,"user_sites":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3138991ffb89de1f3b5b832de6e8bbff"
      Status:
      - 200 OK
      X-API:
      - '1'
      X-Handled-By:
      - yearling
      X-Ruby:
      - '2'
      X-Up-Location:
      - https://api.ravelry.com/people/cltheuer.json
      X-Up-Method:
      - post
    status:
      code: 200
      message: OK
version: 1
