interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/people/cltheuer.json
  response:
    body:
      string: '{"user": {"fave_curse":null,"first_name":null,"id":13988848,"location":"","username":"cltheuer","tiny_photo_url":null,"small_photo_url":null,"photo_url":null,"large_photo_url":null,"about_me":null,"about_me_html":null,"profile_country_code":null,"user_sites":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e0a0b0fb808f1fd0e8b83b93c1fc6ffd"
      Status:
      - 200 OK
      X-API:
      - '1'
      X-Handled-By:
      - ewe
      X-Ruby:
      - '2'
      X-Up-Location:
      - https://api.ravelry.com/people/cltheuer.json
      X-Up-Method:
      - get
    status:
      code: 200
      message: OK
version: 1
