interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/fiber_attributes.json
  response:
    body:
      string: '{"fiber_attributes": [{"fiber_attribute_group_id":1,"id":1,"name":"Commercially
        dyed","permalink":"commercially-dyed"},{"fiber_attribute_group_id":1,"id":2,"name":"Handdyed","permalink":"handdyed"},{"fiber_attribute_group_id":1,"id":3,"name":"Handpainted","permalink":"handpainted"},{"fiber_attribute_group_id":1,"id":4,"name":"Kettle-dyed","permalink":"kettle-dyed"},{"fiber_attribute_group_id":1,"id":5,"name":"Natural
        / Undyed","permalink":"natural---undyed"},{"fiber_attribute_group_id":1,"id":6,"name":"Naturally
        Dyed","permalink":"naturally-dyed"},{"fiber_attribute_group_id":[...]
