interactions:
- request:
    body: ''
    headers:
      authorization:
      - Basic <REDACTED>
    method: GET
    uri: https://api.ravelry.com/yarn_weights.json
  response:
    body:
      string: '{"yarn_weights": [{"crochet_gauge":"","id":1,"knit_gauge":"18","max_gauge":null,"min_gauge":null,"name":"Aran","ply":"10","wpi":"8"},{"crochet_gauge":"","id":4,"knit_gauge":"14-15","max_gauge":null,"min_gauge":null,"name":"Bulky","ply":"12","wpi":"7"},{"crochet_gauge":"","id":5,"knit_gauge":"28","max_gauge":null,"min_gauge":null,"name":"Fingering","ply":"4","wpi":"14"},{"crochet_gauge":"","id":6,"knit_gauge":"7-12","max_gauge":null,"min_gauge":null,"name":"Super
        Bulky","ply":null,"wpi":"5-6"},{"crochet_gauge":"","id":7,"knit_gauge":"32-34","max_gauge":null,"min_gauge":null,"name":"Lace","ply":"2","wpi":null},{"cr[...]
